.App {
  text-align: left;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-form {
  display: flex;
  flex-direction: column;
}

.Submit-button {
  margin-top: 15px;
  background-color: purple;
  color: #fff;
  border-radius: 8px;
  justify-content: center;
  height: 25px;
}

.Input {
  border-radius: 8px;
  height: 25px;
  margin-bottom: 20px;
}

.Spinner-container {
  display: flex;
  justify-content: center;
}

